<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>        
    <% messages.forEach(item => { %>
      <div class="main-part">
        <div><%= item.text %></div>
        <div><%= item.user %></div>
        <div><%= item.added %></div>
      </div>
    <% });%>
    <a href="/new">New</a>
  </body>
</html>
